body {
    color: white;
    font-family: Georgia, serif;
}

header {
    background-image: url("../images/carlin_header.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

img {
    width: 100%;
}

@media (min-width: 768px) {
    #quote-container {
        margin-top: 20%;
    }
 }
